@use "@/scss/variables";
@use "@/scss/functions";
@use "@/scss/mixins";

.heading {
  grid-column: 1/-1;
  font-size: calc(functions.pxToResponsiveUnit(50px));
  font-family: variables.$ff-bricolage-grotesque;
  margin-block-end: 20px;
}

.subText {
  font-family: variables.$ff-lato;
  margin-block: 50px;
  font-size: 18px;

  &--1 {
    @extend .subText;
    grid-column: 1/7;
    margin-inline-end: 3.5rem;
  }

  &--2 {
    @extend .subText;
    grid-column: 7/-1;
    margin-inline-start: 3.5rem;
  }
}

.btn {
  grid-column: 1/8;
  padding: 10px 14px;
}

.img {
  grid-column: 1/-1;
  border-radius: 8px;
  margin-block-end: 20px;
}
