@use "@/scss/variables" as v;
@use "@/scss/functions" as f;
@use "@/scss/mixins" as m;

.btn {
  width: 100%;
  padding: 6px 10px;
  border-radius: 16px;
  border: none;
  background-color: v.$border-color;
  color: v.$primary-color;
  font-family: v.$ff-lato;
  font-size: f.px-to-responsive-unit(16px);
  font-weight: 600;

  @include m.media-query(lg) {
    & {
      padding: 10px;
    }
  }
}
