@use "@/scss/variables" as *;
@use "@/scss/functions" as *;
@use "@/scss/mixins" as *;

.btn {
  width: 100%;
  padding: 6px 10px;
  border-radius: 16px;
  border: none;
  background-color: $border-color;
  color: $primary-color;
  font-family: $ff-lato;
  font-size: px-to-responsive-unit(16px);
  font-weight: 600;

  @include media-query(lg) {
    & {
      padding: 10px;
    }
  }
}
