@use "@/scss/variables" as v;
@use "@/scss/functions" as f;
@use "@/scss/mixins" as m;

.card {
  border: 1px solid v.$card-border-color;
  border-radius: 12px;

  &_img {
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    margin-block-end: 28px;
  }

  &_body {
    @include m.flex(initial, space-between);
    flex-direction: column;
    padding-inline: 8px;
    padding-block-end: 12px;
    row-gap: 16px;

    @include m.media-query(xl) {
      flex-direction: row;
    }

    p {
      font-family: v.$ff-lato;
      font-size: f.px-to-responsive-unit(18px);
      letter-spacing: -0.03em;
    }
  }
}
