@use "../../../../scss/variables";
@use "../../../../scss/mixins";
@use "../../../../scss/functions";

.icons_box {
    margin-block-start: 30px;
    @include mixins.flex($justify: space-between);

    width: 70%;
    margin: 0 auto;
    margin-top: 30px;

    @media screen and (min-width: 992px) {
        & {
            width: 50%;
            margin: 0 auto;
            margin-top: 30px;
        }
    }

    &>span {
        width: 34px;
        height: 34px;
        padding: 8px;
        background-color: variables.$secondary-color;
        border-radius: 50%;

        &:nth-of-type(1)>svg {
            fill: variables.$black;
        }

        &:nth-of-type(2)>svg {
            fill: variables.$facebook-color;
        }

        &:nth-of-type(3)>svg {
            fill: #0077b5;
        }

        &:nth-of-type(3)>svg {
            fill: #0077b5;
        }

        &:nth-of-type(4)>svg {
            fill: #e62117;
        }

        &:nth-of-type(5)>svg {
            fill: #d62976;
        }

    }

}