@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.icons_box {
  margin-block-start: 30px;
  @include flex($justify: space-between);
  width: min(100%, 323px);

  & > span {
    @include flex();
    width: 44px;
    height: 44px;
    background-color: $secondary-color;
    border-radius: 50%;

    & > svg {
      width: 24px;
      height: 24px;
    }

    &:nth-of-type(1) > svg {
      fill: $black;
    }

    &:nth-of-type(2) > svg {
      fill: $facebook-color;
    }

    &:nth-of-type(3) > svg {
      fill: $linkedin-color;
    }

    &:nth-of-type(4) > svg {
      fill: $youtube-color;
    }

    &:nth-of-type(5) > svg {
      background: $instagram-color;
    }
  }
}
