@use "@/scss/variables" as *;
@use "@/scss/functions" as *;
@use "@/scss/mixins" as *;

.contact {
  @include media-query(md) {
    grid-column: 1/7;
    margin-inline-end: 10px;
  }

  @include media-query(lg) {
    margin-inline-end: 30px;
  }

  & > div {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $secondary-color;

    &:first-of-type {
      margin-block-end: 10px;

      @include media-query(lg) {
        margin-block-end: 30px;
      }
    }

    h2 {
      font-size: clamp(
        px-to-responsive-unit(24px),
        4vw + 0.75rem,
        px-to-responsive-unit(64px)
      );
      line-height: 32px;
      font-weight: inherit;
      letter-spacing: -0.01em;

      & + p {
        font-family: $ff-lato;

        @include media-query(md) {
          font-size: px-to-responsive-unit(20px);
          margin-block-start: 20px;
        }
      }
    }
  }

  & + form {
    grid-column: 1/-1;

    @include media-query(md) {
      grid-column: 7/-1;
    }
  }
}

.img {
  border-radius: 8px;
  grid-row: 2/3;
  margin-block: 40px;

  @include background-image(
    "../../assets/contact-page-image-mobile.jpg",
    218px,
    "../../assets/contact-page-image-desktop.jpg",
    546px
  );

  @include media-query(md) {
    grid-column: 1/-1;
  }

  & + p {
    display: none;

    @include media-query(md) {
      display: block;
      letter-spacing: -0.05em;
      grid-column: 1/-1;
      font-size: clamp(
        px-to-responsive-unit(36px),
        3vw + 1rem,
        px-to-responsive-unit(48px)
      );
    }
  }
}
