@use "../../scss/variables";
@use "../../scss/functions";
@use "../../scss/mixins";

.wrapper {
    display: grid;
    gap: 40px;

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    &>article {
        display: grid;
        gap: 16px;

        &>div {
            padding: 10px;
            border-radius: 8px;
            border: 1px solid variables.$secondary-color;

            h2 {
                font-size: calc(functions.pxToRem(33px) + 0.1vw);
                font-weight: inherit;

                &+p {
                    font-family: variables.$ff-lato;
                }
            }
        }
    }

    &>img {
        width: 100%;
        grid-column: 1/-1;
    }

    &>div {
        border-radius: 8px;
        @include mixins.backgroundImage("../../assets/contact-page-image-mobile.jpg", "../../assets/contact-page-image-desktop.jpg", 218px, 546px);

        @media screen and (min-width: 992px) {
            & {
                grid-column: 1/-1;
            }
        }
    }

    &>p {
        display: none;
    }
}