@use "@/scss/variables" as v;
@use "@/scss/mixins" as m;
@use "@/scss/functions" as f;

.address {
  display: grid;
  gap: 20px;

  & > li {
    @include m.flex($justify: flex-start);
    gap: 8px;
    font-family: v.$ff-lato;
    line-height: inherit;
    font-size: f.px-to-responsive-unit(16px);

    @include m.media-query(md) {
      font-size: f.px-to-responsive-unit(18px);
    }

    span {
      @include m.flex;
      width: 24px;
      height: 24px;
      border: 1px solid v.$secondary-color;
      padding: 4px;
      border-radius: 50%;

      & > svg {
        width: 18px;
        height: 18px;
        color: v.$secondary-color;
      }
    }
  }
}
