@use "../../../../scss/variables" as *;
@use "../../../../scss/mixins" as *;
@use "../../../../scss/functions" as *;

.address {
  display: grid;
  gap: 20px;

  & > li {
    @include flex($justify: flex-start);
    gap: 8px;
    font-family: $ff-lato;
    line-height: inherit;
    font-size: pxToResponsiveUnit(16px);

    @include mediaQuery(md) {
      font-size: pxToResponsiveUnit(18px);
    }

    span {
      width: 24px;
      height: 24px;
      @include flex();
      border: 1px solid $secondary-color;
      padding: 4px;
      border-radius: 50%;

      & > svg {
        width: 18px;
        height: 18px;
        color: $secondary-color;
      }
    }
  }
}
