@use "@/scss/variables" as *;
@use "@/scss/functions" as *;
@use "@/scss/mixins" as *;

div:has(textarea) {
  flex: 1;
  height: 100%;

  label:has(+ textarea:not(:focus)) {
    display: none;
  }

  textarea {
    min-height: pxToResponsiveUnit(140px);
    height: 90%;
  }
}

.label {
  display: block;
  margin-block-end: 5px;
  font-family: $ff-lato;
  text-transform: capitalize;

  & > svg {
    width: 10px;
    height: 10px;
    margin-inline-start: 4px;
    color: $form-border-color;
  }

  & + input,
  & + textarea {
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
    padding: 10px 0 4px;
    color: $form-border-color;
    border: 2px solid $form-border-color;
    padding-inline-start: 4px;

    &::placeholder {
      color: $form-border-color;
      font-family: $ff-lato;
    }

    & + span {
      color: $youtube-color;
    }
  }
}
