@use "@/scss/variables" as *;
@use "@/scss/functions" as *;

.text_label {
  display: block;
  margin-block: 7px;
  color: $white;
  font-size: calc(pxToResponsiveUnit(17px) + 0.1vw);
  font-family: $ff-lato;

  &:has(+ textarea:not(:focus):not(:active)) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
  }

  & + input,
  & + textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px 0 4px;
    color: $form-border-color;

    &::placeholder {
      color: $form-border-color;
      font-family: $ff-lato;
    }
  }

  & + input {
    border-block-end: 2px solid $form-border-color;
  }

  & + textarea {
    border-radius: 8px;
    padding-inline-start: 4px;
    min-height: pxToResponsiveUnit(170px);
    border: 2px solid $form-border-color;
  }
}
