@use "../../../../scss/variables";

.form {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid variables.$form-border-color;

    @media screen and (min-width: 992px) {
        & {
            grid-column: 2/-1;
            grid-row: 1/1;
        }
    }

    &>button {
        margin-block-start: 1rem;
    }
}