@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

.form {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid $form-border-color;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-query(md) {
    & {
      grid-column: 2/-1;
      grid-row: 1/1;
    }
  }
}
