@use "@/scss/functions" as f;
@use "@/scss/variables" as v;
@use "@/scss/mixins" as m;

.company {
  font-size: f.px-to-responsive-unit(18px);
  max-inline-size: min(448px, 100%);
  letter-spacing: -0.03em;

  @include m.media-query(md) {
    font-size: f.px-to-responsive-unit(24px);
  }

  p,
  span {
    color: v.$secondary-color;
  }

  span {
    display: block;
    text-transform: capitalize;
  }

  p:has(span) {
    font-weight: 300;
    font-size: f.px-to-responsive-unit(24px);
    margin-block-end: 20px;

    span:is(:first-child) {
      color: v.$btn-hover-color;
    }

    & + p + p {
      margin-block-start: 14px;
      font-size: f.px-to-responsive-unit(16px);

      @include m.media-query(md) {
        font-size: f.px-to-responsive-unit(20px);
      }
    }
  }
}

.description {
  display: none;

  @include m.media-query(lg) {
    display: block;
    font-size: f.px-to-responsive-unit(20px);
    letter-spacing: -0.01em;
    max-inline-size: 583px;
    grid-row: 1;
    grid-column: 2/-1;
    line-height: 28px;
  }
}

.nav {
  display: grid;
  row-gap: 16px;

  @include m.media-query(md) {
    row-gap: 0;
    grid-column: 1/-1;
    border: 2px solid v.$secondary-color;
    grid-template-columns: repeat(3, 1fr);
  }

  @include m.media-query(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }

  & > p {
    border-top: none;
    text-align: center;
    grid-column: 1/-1;
    padding: 0.5rem 0;
    font-size: f.px-to-responsive-unit(14px);

    @include m.media-query(md) {
      border-block-start: 2px solid v.$secondary-color;
    }

    a {
      color: v.$brand-logo-color;

      &:hover {
        color: v.$brand-logo-color-dark;
      }
    }
  }
}

.links,
.contacts,
.socials {
  padding-block: 1rem;
  border: 2px solid v.$secondary-color;

  a {
    justify-content: initial;
  }

  @include m.media-query(md) {
    border-inline-start: none;
    border-block-start: none;
    border-block-end: none;
  }

  & > p {
    font-size: f.px-to-responsive-unit(24px);
    text-transform: uppercase;
    border-bottom: 2px solid v.$secondary-color;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
  }

  & li {
    margin-top: 10px;
  }
}

.links {
  @include m.media-query(md) {
    grid-column: 1/2;
  }

  @include m.media-query(xl) {
    border-left: 2px solid v.$secondary-color;
    grid-column: 2/3;
  }
}

.contacts {
  @include m.media-query(md) {
    grid-column: 2/3;
  }

  @include m.media-query(xl) {
    grid-column: 3/4;
  }
}

.socials {
  @include m.media-query(md) {
    grid-column: 3/4;
    border-inline-end: none;
  }

  @include m.media-query(xl) {
    grid-column: 4/5;
  }
}
