@use "./scss/variables";
@use "./scss/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
  background-color: variables.$primary-color;
  font-family: variables.$ff-play-fair;
  color: variables.$secondary-color;
  text-transform: uppercase;
  outline: 2px solid red;
}

#root {
  position: relative;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  display: grid;
  gap: 100px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: repeat(3, min-content);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  object-fit: contain;
  border-radius: inherit;
}
