@use "./functions" as *;

@mixin flex($align: center, $justify: center) {
  @if check-args(($align, $justify), string, string) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }
}

@mixin backgroundImage($mobileUrl, $mobileHeight, $desktopUrl, $desktopHeight) {
  @if check-args(
    ($mobileUrl, $mobileHeight, $desktopUrl, $desktopHeight),
    string,
    number,
    string,
    number
  )
  {
    background-image: url($mobileUrl);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: $mobileHeight;

    @include mediaQuery(md) {
      & {
        background-image: url($desktopUrl);
        height: $desktopHeight;
      }
    }
  }
}

@mixin mediaQuery($breakpoint) {
  $breakpoints: (
    sm: pxToResponsiveUnit(600px, em),
    md: pxToResponsiveUnit(768px, em),
    lg: pxToResponsiveUnit(992px, em),
    xl: pxToResponsiveUnit(1024px, em),
    xxl: pxToResponsiveUnit(1280px, em),
    xxxl: pxToResponsiveUnit(1400px, em),
  );

  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @if ($breakpoint == "sm") {
      @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    } @else {
      @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}";
  }
}
