@use "./functions" as f;
@use "sass:map";

@mixin flex($align: center, $justify: center) {
  @if f.check-args(($align, $justify), string, string) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }
}

@mixin background-image(
  $mobileUrl,
  $mobileHeight,
  $desktopUrl,
  $desktopHeight
) {
  @if f.check-args(
    ($mobileUrl, $mobileHeight, $desktopUrl, $desktopHeight),
    string,
    number,
    string,
    number
  )
  {
    background-image: url($mobileUrl);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: $mobileHeight;

    @include media-query(md) {
      & {
        background-image: url($desktopUrl);
        height: $desktopHeight;
      }
    }
  }
}

@mixin media-query($breakpoint) {
  $breakpoints: (
    sm: px-to-responsive-unit(600px, em),
    md: px-to-responsive-unit(768px, em),
    lg: px-to-responsive-unit(992px, em),
    xl: px-to-responsive-unit(1024px, em),
    xxl: px-to-responsive-unit(1280px, em),
    xxxl: px-to-responsive-unit(1400px, em),
  );

  @if map.has-key($map: $breakpoints, $key: $breakpoint) {
    @if $breakpoint == "sm" {
      @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
        @content;
      }
    } @else {
      @media screen and (min-width: map.get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}. Please use one of: #{map-keys($breakpoints)}";
  }
}
