$primary-color: #1d1d1d;
$secondary-color: #f4f4f4;
$tertiary-color: #f4f4e4;
$white: #ffffff;
$brand-logo-color-dark: hsl(30, 69%, 60%);
$brand-logo-color: #e5aa70;
$border-color: #f7f4e4;
$ff-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
$ff-play-fair: "Playfair Display", serif;
$ff-lato: 'Lato', sans-serif;
$black: #000000;
$base-font-size: 16px;
$btn-hover-color: #e5aa70;