$primary-color: #1d1d1d;
$secondary-color: #f4f4f4;
$tertiary-color: #f4f4e4;
$white: #ffffff;
$brand-logo-color: #e5aa70;
$ff-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
$ff-play-fair: "Playfair Display", serif;
