$primary-color: #1d1d1d;
$secondary-color: #f4f4f4;
$tertiary-color: #f4f4e4;
$white: #ffffff;
$brand-logo-color-dark: hsl(30, 69%, 60%);
$brand-logo-color: #e5aa70;
$border-color: #f7f4e4;
$ff-bricolage-grotesque: "Bricolage Grotesque", sans-serif;
$ff-play-fair: "Playfair Display", serif;
$ff-lato: "Lato", sans-serif;
$black: #000000;
$btn-hover-color: #e5aa70;
$facebook-color: #1877f2;
$linkedin-color: #0077b5;
$youtube-color: #e62117;
$instagram-color: radial-gradient(
  92.18% 99.11% at 26.56% 107.7%,
  #ffdd55 0%,
  #ffdd55 10%,
  #ff543e 50%,
  #c837ab 100%
);
$form-border-color: #d9d9d9;
$card-border-color: #4f4f4f;
