@use "@/scss/variables" as v;
@use "@/scss/functions" as f;
@use "@/scss/mixins" as m;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    @include m.flex($align: flex-start);
    font-size: f.px-to-responsive-unit(24px);
    text-transform: uppercase;
    color: v.$brand-logo-color;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.05em;

    @include m.media-query(lg) {
      font-size: f.px-to-responsive-unit(34px);
    }

    span {
      color: v.$secondary-color;
    }
  }

  ul {
    display: flex;
    gap: 20px;

    & a[aria-current="page"] {
      background-color: v.$secondary-color;
      border: 1px solid v.$secondary-color;
      color: v.$black;
    }

    @include m.media-query("max-sm") {
      padding: 150px 0 0;
      padding-inline: 2rem;
      flex-direction: column;
      align-items: center;
      position: fixed;
      inset: 0;
      z-index: 1000;
      background-color: v.$brand-logo-color;
      transition: transform 0.7s ease;

      li {
        width: 60vw;
      }
    }
  }
}

.hamburger {
  display: block;
  width: 32px;
  height: 32px;
  z-index: 2000;

  &[aria-expanded="false"] + ul {
    transform: translate(115vw);
  }

  @include m.media-query(md) {
    display: none;

    &[aria-expanded="false"] + ul {
      display: flex;
      transform: translateX(0);
    }
  }
}
