@use "@/scss/variables" as *;
@use "@/scss/mixins" as *;

%icon-style {
  color: $primary-color;
  border-radius: 50%;
  width: 18.5px;
  height: 18.5px;
  padding: 3px;
  transition: 0.3s ease;
}

.solid {
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 16px;
  font-weight: 400;
  font-family: $ff-play-fair;
  border: none;
  background-color: $border-color;
  color: $primary-color;
  @include flex();
  gap: 10px;
  cursor: pointer;
  width: 100%;

  @include mediaQuery(md) {
    width: auto;
  }

  &:hover {
    background-color: $btn-hover-color;
    color: $black;
  }

  &:hover svg {
    transform: rotate(90deg);
  }

  svg {
    @extend %icon-style;
  }
}

.outlined {
  @extend .solid;
  background-color: transparent;
  border: 1px solid $border-color;
  color: $secondary-color;

  &:hover {
    border: 1px solid $btn-hover-color;
  }

  svg {
    @extend %icon-style;
    background-color: #fff;
  }
}

.text {
  @extend .outlined;
  border: none;

  &:hover {
    color: $btn-hover-color;
    background-color: transparent;
    border: none;
  }
}
