@use "@/scss/variables" as v;
@use "@/scss/mixins" as m;

%icon-style {
  color: v.$primary-color;
  border-radius: 50%;
  width: 18.5px;
  height: 18.5px;
  padding: 3px;
  transition: 0.3s ease;
}

%link-solid {
  @include m.flex;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 16px;
  font-weight: 400;
  font-family: v.$ff-play-fair;
  border: none;
  background-color: v.$border-color;
  color: v.$primary-color;
  gap: 10px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: v.$btn-hover-color;
    color: v.$black;
  }

  &:hover svg {
    transform: rotate(90deg);
  }

  @include m.media-query(md) {
    width: auto;
  }
}

.solid {
  @extend %link-solid;

  svg {
    @extend %icon-style;
  }
}

%link-outlined {
  @extend %link-solid;
  background-color: transparent;
  border: 1px solid v.$border-color;
  color: v.$secondary-color;
}

.outlined {
  @extend %link-outlined;

  &:hover {
    border: 1px solid v.$btn-hover-color;
  }

  svg {
    @extend %icon-style;
    background-color: #fff;
  }
}

.text {
  @extend %link-outlined;
  border: none;

  &:hover {
    color: v.$btn-hover-color;
    background-color: transparent;
    border: none;
  }
}
