@use "../scss/mixins" as *;
@use "../scss/variables" as *;

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1440px;
  background-color: $primary-color;
  padding-inline: clamp(18px, 5vw, 72px);
  padding-block: 27px;
  height: 66px;
  z-index: 100000;

  @include mediaQuery(md) {
    padding-block-start: 35px;
    padding-block-end: 60px;
    height: 81px;
  }
}

.main {
  grid-area: main;
  display: grid;
  padding-inline: clamp(18px, 5vw, 72px);

  @include mediaQuery(md) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.footer {
  padding-inline: clamp(18px, 5vw, 72px);
  grid-area: footer;
  display: grid;
  row-gap: 96px;

  @include mediaQuery(xl) {
    & {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
    }
  }
}
