@use "../scss/mixins";
@use "../scss/variables";

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: variables.$primary-color;
  padding: 1rem;
  padding-inline: 3rem;
  z-index: 100000;

  @media screen and (max-width: 992px) {
    padding: 1rem;
  }
}

.main {
  margin-block-start: 40px;
  grid-area: main;
  padding: 1rem;
  padding-inline: 3rem;
  display: grid;
  // gap: 40px;
  grid-template-columns: repeat(12, 1fr);

  @media screen and (max-width: 992px) {
    padding: 1rem;
    // grid-template-columns: repeat(2, 1fr);
  }
}

.footer {
  padding: 1rem;
  padding-inline: 3rem;
  grid-area: footer;
  display: grid;
  row-gap: 80px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.2;

  @include mixins.mediaQuery(sm) {
    & {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 50px;
      padding: 1rem;
    }
  }
}
