@use "../scss/mixins";
@use "../scss/variables";

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: variables.$primary-color;
  padding: 1rem;
}

.main {
  grid-area: main;
  padding: 1rem;
}

.footer {
  padding: 1rem;
  grid-area: footer;
  display: grid;
  row-gap: 80px;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
  line-height: 1.2;

  @include mixins.mediaQuery(sm) {
    & {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 50px;
    }
  }
}
